/*
====================================
Medium Screen - Others
====================================
*/

@media screen and (min-width: 1580px) {

.hero-part {  
    background-position: center right;
    background-size: 35% 100%;
    padding: 280px 0 120px;
    margin-bottom: 50px;
}    

.banner-area {      
    background-size: 55% 100%;
    padding-bottom: 200px;
}


}


@media screen and (min-width: 1200px) and (max-width: 1400px) {

.hero-part {  
    background-position: center right;
    background-size: 36.5%;
    padding: 280px 0 120px;
    margin-bottom: 50px;
}   


}


@media screen and (min-width: 992px) and (max-width: 1200px) {

.service-upper h2 {
	font-size: 50px;
}

.hero-item {
	margin-top: -70px;
}

.client-area {
    margin: 0;
    padding: 15px 0 70px;
}

.client-logo img {
    max-width: 100%;  
}

.social-logo-part ul li img {
    max-width: 70px;
}

.social-part-cont h4 {
    font-size: 30px;
	line-height: 44px;
}

.social-part-cont p {
    font-size: 12px;
	line-height: 18px;
}

.social-std img {
    transform: scale(1.4);
    padding-right: 20px;
}

.partner-item {
    padding: 140px 0;  
    background-size: 100% ; 
}

.form-area {
    padding-top: 10px;
    background-size: 100% 100%;
}

.form-part {
    max-width: 90%;
    margin: auto;   
    padding: 15px 50px;
    margin-top: -108px;   
}


}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {


.banner-area {
	background: none;
}
	
.banner-cont h2 {
	font-weight: 500;
	font-size: 30px;
	line-height: 34px;
	color: #5712A6;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner-cont p {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

.banner-cont {
	margin-top: -60px;
}

.service-upper h2 {
	font-size: 30px;
	line-height: 44px;
}

.service-upper p {
	font-size: 12px;
	line-height: 15px;
	color: #5F5959;
}

.service-upper {
	margin-top: -120px;
}

.question-area {
    padding-top: 50px;
}

.question-cont img {
	margin-top: 50px;
}

.question-upper h2 {
    font-size: 30px;
	line-height: 44px
}

.question-cont p {
	display: none;
}

.hero-part-sm {   
    padding-top: 450px;
    background-size: 350px;
}

.hero-sm-cont {
	padding-bottom: 30px;
}

.client-area {
    background: #EEE7F6;
    margin-top: 0px;
    padding: 0 0 70px;
}

.client-upper p {
    font-size: 22px;
	line-height: 32px;
	margin: 80px 0 40px;
}

.client-logo {
    margin-bottom: 30px;
    text-align: center;
}

.client-logo img {
	max-width: 100%;
}

.social-area {
    background: #5712A6;
    padding: 20px 0;
    margin-bottom: 20px;
}

.social-logo-part ul li {
    display: inline-block;
}

.social-logo-part ul li img {
    max-width: 80px;
}

.social-part-cont h4 {
    font-size: 30px;
	line-height: 44px;
}

.social-part-cont p {
    font-size: 12px;
	line-height: 18px;
}

.social-std img {
    transform: scale(1);
    margin: 30px 0;
}

.social-logo-part {
	margin-top: -55px;
}

.partner-item {
    background: none;
    padding: 60px 0 0;   
}

.partner-sm-cont h4 {
	margin-top: 20px;
}  

.form-area {
    padding-top: 10px;
    background-size: 100% 100%;
}

.form-part {
    max-width: 100%;
    margin: auto;   
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    padding: 15px 50px;
    margin-top: -115px;   
}

.form-upper p {
	margin-bottom: 10px;

}

.form-part input {
    font-size: 14px;
	line-height: 21px;
    margin: 10px 0;
    text-align: center;
    padding: 20px 0;
}

.form-part input[type="submit"] {
   	padding: 8px 0 28px;
}

.form-btm-cont h4 {
    direction: ltr;
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    color: #FFFFFF;
    margin: 60px 0 10px;
}   

.par-sm-cont p {
    direction: ltr;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;  
}

.form-btm-cont a {
    font-size: 18px;
    line-height: 26px;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 40px 40px 0 0;
}


}


/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 767px) {


.banner-area {
	background: none;
}
	
.banner-cont h2 {
	font-weight: 500;
	font-size: 30px;
	line-height: 34px;
	color: #5712A6;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner-cont p {
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
  color: #000000;
  margin: 20px 0 35px;
}

.banner-cont {
	margin-top: -60px;
}

.service-upper h2 {
	font-size: 30px;
	line-height: 44px;
}

.service-upper p {
	font-size: 12px;
	line-height: 15px;
	color: #5F5959;
}

.service-upper {
	margin-top: -120px;
}

.question-area {
    padding-top: 50px;
}

.question-cont img {
	margin-top: 50px;
}

.question-upper h2 {
    font-size: 30px;
	line-height: 44px
}

.question-cont p {
	display: none;
}

.client-area {
    background: #EEE7F6;
    margin-top: 0px;
    padding: 0 0 50px;
}

.client-upper p {
    font-size: 22px;
	line-height: 32px;
	margin: 60px 0 30px;
}

.client-logo {
    margin-bottom: 30px;
    text-align: center;
}

.client-logo img {
	max-width: 120px;
}

.social-area {
    background: #5712A6;
    padding: 20px 0;
    margin-bottom: 20px;
}

.social-logo-part ul li {
    display: inline-block;
}

.social-logo-part ul li img {
    max-width: 50px;
}

.social-part-cont h4 {
    font-size: 30px;
	line-height: 44px;
}

.social-part-cont p {
    font-size: 12px;
	line-height: 18px;
}

.social-std img {
    transform: scale(1);
    margin: 20px 0;
}

.social-logo-part {
	margin-top: -45px;
}

.partner-item {
    background: none;
    padding: 60px 0;   
}

.form-area {
    padding-top: 10px;
    background-size: 100% 100%;
   
}

.form-part {
    max-width: 90%;
    margin: auto;   
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 40px 30px;
    margin-top: -230px;   
}

.form-part input {
    font-size: 14px;
	line-height: 21px;
    margin: 10px 0;
    text-align: center;
    padding: 20px 0;
}

.form-part input[type="submit"] {
   	padding: 8px 0 28px;
}

.form-btm-cont h4 {
    direction: ltr;
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    color: #FFFFFF;
    margin: 60px 0 10px;
}   

.par-sm-cont p {
    direction: ltr;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;  
}

.form-btm-cont a {
    font-size: 18px;
    line-height: 26px;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 40px 40px 0 0;
}

.footer-area {
    background: #5712A6;
    padding: 50px 0 3px;
}

.footer-bg img {
    width: 100%;
}

.footer-sld-area {  
    padding: 15px 0px;
}



.float{
  position:fixed;
	width:50px;
	height:50px;
	bottom:10px;
  left:10px;
  z-index: 1;
}



}