/*
========================
Header area start
========================
*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

/*font-family: 'Heebo', sans-serif;*/

body {	
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #000;
}

p {
  white-space: pre-line;    
}
a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);   
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #5712A6;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}


html,body {
    scroll-behavior: smooth;
}

.header-smlogo {
    padding: 15px 0; 
}

.header-smlogo img {
    width: 120px;
}


.header-area {
    padding: 30px 0;
}

.header-right {
    text-align: right;
}

.header-left {
    text-align: right;
}

.header-left ul li {
    display: inline-block;
    padding: 0px 20px;
}

.header-left ul li a {
    direction: ltr;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #5712A6;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.header-left ul li a:hover {
    opacity: .7; 
}

/* banner-area start */
.banner-area {
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 55%;
    padding-bottom: 200px;
}

.banner-cont h2 {
    font-weight: 500;
    font-size: 57px;
    line-height: 65px; 
    color: #5712A6;
    margin-top: 100px;
}

.banner-cont p {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;  
    color: #5F5959;
    text-align: justify;
    margin: 20px 0 10px 35px;
}

.banner-cont p br {
    display: none;
}
.banner-cont a,
.hero-item a {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    color: #FFFFFF;
    background: linear-gradient(264.83deg, #26E0FA 7.29%, #5C6AEF 93.52%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px 30px;
    margin-top: 5px;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
}

.banner-cont a:hover,
.hero-item a:hover {
    opacity: 0.8;
}


/* service-area start */
.service-area {
  margin-bottom: 50px;
}

.service-upper h2 {
    font-weight: 500;
    font-size: 62px;
    color: #5712A6;
    line-height: 90px;
    margin: 0;
}

.service-upper p {
    font-weight: 700;
    font-size: 14px;
    color: #232323;
    line-height: 18px;
}

.service-item {
    text-align: center;
    margin: 20px 0;
}

.service-item img {
    width: 140px;
    height: 140px;
}

.service-item h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #5712A6;
    margin: 15px 0 8px;
}

.service-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.service-item-sm {
    text-align: center;
    margin: 20px 0;
}

.service-item-sm img {
    width: 70px;
    height: 70px;
}

.service-item-sm h4 {
    direction: ltr;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #5712A6;
    margin-top: 10px;
}

/* bg-banner-area start */
.bg-banner-area {
    background: #D4BEEF;
    padding: 70px 0;
    clip-path: polygon(100% 18%, 100% 100%, 0 86%, 0 0);
}

.bg-banner-cont h4 {
    direction: ltr;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #5712A6;
}

.bg-banner-cont h4 strong {
    font-weight: 800;
}

.bg-banner-cont p {
    direction: ltr;
    font-weight: 500;
    font-size: 15pt;
    text-shadow: 2px 2px 4px #000000;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 15px;
}

.bg-banner-area-sm {
    background-image: url(images/bnbg-sm.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 100px 13px 50px;
    padding-bottom: 50px; 
}

.bg-banner-item-sm img {
   margin-top: -60px;

}

.bg-banner-item-sm h4 {
    direction: ltr;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #5712A6;  
    margin: 40px 0 20px;  
}

.bg-banner-item-sm h4 strong {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
}

.bg-banner-item-sm p {
    direction: ltr;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #5712A6;
}

/* question-area start */
.question-area {
    padding-top: 100px;
}

.question-upper h2 {
    direction: ltr;
    font-weight: 500;
    font-size: 45px;
    line-height: 66px;
    color: #5712A6;
    margin-top: 8px;
}

.question-cont img {
    margin: 30px 0 10px;
    transform: scale(1.5);
}

.question-cont p {
    direction: ltr;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #5712A6;
    margin: 6px 0 0;
}

.ques-cont-sm p {
    direction: ltr;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #5712A6;
    margin: 0;
}

/* hero-part start */
.hero-part {
    background-image: url(images/hero-bg-2.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 32%;
    padding: 280px 0 120px;
    margin-bottom: 50px;
}

.hero-item h2 {
    direction: ltr;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    color: #5712A6;
    margin: 10px 0 15px;
}

.hero-item p {
    direction: ltr;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.hero-item ul {
    margin: 25px 0 35px;
}

.hero-item ul li {
    direction: ltr;
    font-size: 16px;
    line-height: 21px;
    color: #5712A6;
    padding: 4px 0;
}

.hero-item ul li i {
    color: #2196F3;
    margin-left: 15px;
    font-size: 16px;
}

/* hero-part-sm start */
.hero-part-sm {
    background-image: url(images/smbg-4.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 380px;
    background-size: 300px;
    padding-bottom: 20px;
}

.hero-sm-cont h2 {
    direction: ltr;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #5712A6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 60px 0 20px;
}

.hero-sm-cont p {
    direction: ltr;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin-top: 15px;
}

.hero-sm-inner-cont ul li {
    direction: ltr;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #5712A6;
    padding: 5px 10px;
}

.hero-sm-inner-icon ul li i {
    color: #2196F3;
    font-size: 16px;
    padding: 15px 0;
}

.hero-sm-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-sm-cont {
    padding-bottom: 10px;
}

/* client-area start */
.client-area {
    background: #EEE7F6;
    margin-top: 80px;
    padding: 15px 0 120px;
}

.client-upper p {
    direction: ltr;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #5712A6;
    margin: 40px 0 50px;
}

.client-logo {
    margin-bottom: 40px;
    text-align: center;
}

.social-area {
    background: #5712A6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    margin-bottom: 80px;
}

.social-logo-part ul li {
    display: inline-block;
}

.social-logo-part ul li img {
    max-width: 85px;
}

.social-part-cont {
    margin-right: 40px;
}

.social-part-cont h4 {
    direction: ltr;
    font-weight: 500;
    font-size: 42px;
    line-height: 62px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-part-cont p {
    direction: ltr;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-std img {
    transform: scale(1.5);
}

.social-btm {
    margin-top: -22px;
}

/* partner-area start */
.partner-item {
    background-image: url(images/bg-partner.png); 
    background-repeat: no-repeat;
    padding: 140px 0;    
}

.part-lg-cont h4 {
    direction: ltr;
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    color: #5712A6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.part-lg-cont p {
    direction: ltr;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin: 20px 0;
}

.partner-sm-cont h4 {
    direction: ltr;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #5712A6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.partner-sm-cont p {
    direction: ltr;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    margin: 20px 0;
}

/* form-area start */
.form-area {
    background-image: url(images/form-bg.png);
    background-repeat: no-repeat;
    padding-top: 10px;
    background-size: 100%;
    margin-top: 250px;
}

.form-part {
    background: #E3E0FF;
    max-width: 80%;
    margin: auto;
    border: 5px solid #5712A6;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    padding: 20px 100px 30px;
    margin-top: -76px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-upper p {
    direction: ltr;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #5712A6;
    margin-bottom: 20px;
}

.form-part input {
    direction: ltr;
    font-size: 22px;
    line-height: 32px;
    text-align: right;
    color: #FFFFFF;
    background: #5712A6;
    border-radius: 10px;
    border: none;
    outline: none!important;
}

.form-part input:focus {
    color: #FFFFFF;
    background: #5712A6;
    box-shadow: none;
}
::placeholder {
  color: #ffffff!important;
  opacity: 1;
}

::-ms-input-placeholder { 
  color: #ffffff!important;
  opacity: 1;
}

::-ms-input-placeholder { 
  color: #ffffff!important;
  opacity: 1;
}

.form-part input[type="submit"] {
    background: #E3E0FF;
    color: #5712A6; 
    border: 3px solid #5712A6;
}

.form-part input[type="submit"]:hover {
    opacity: .8;
}

.form-btm-cont h4 {
    direction: rtl;
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    color: #FFFFFF;
    margin: 120px 0 30px;
}   

.par-lg-cont p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
} 

.par-sm-cont p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;  
}

.form-btm-cont a {
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;
    color: #FFFFFF;
    background: #AA87D2;
    display: inline-block;
    margin-top: 100px;
    padding: 0 50px;
    border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    -moz-border-radius: 100px 100px 0 0;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.form-btm-cont a:hover {
    opacity: .8;
}

/* footer-area start */
.footer-sld-area {
    background: #FFF; 
    text-align: center;
    padding: 15px 30px;
}

.footer-logo img {
    max-width: 100%;
}

/* footer-area start */
.footer-area {
    background: #5712A6;
}

.footer-area a{
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.footer-bg img {
    width: 100%;
}

.owl-carousel {
    vertical-align: middle;
    text-align: center;
}

.float{
  position:fixed;
	width:90px;
	height:90px;
	bottom:40px;
  left:40px;
  z-index: 1;
}

/* testing */